/* GLOBAL */
body {
    font-family: 'Montserrat', 'Raleway', 'Anton', sans-serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-weight: 400;
    line-height: 1.7;
    overflow-x: hidden;
    background-color: #efefef;
}

body p {
    font-family: 'Raleway', 'Anton', 'Montserrat', sans-serif;
    color: #565656;
    line-height: 1.7;
    font-size: 1em;
}

body a {
    color: #303030;
    line-height: 1.4;
    font-weight: 600;
    font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
    color: #303030;
    line-height: 1.8;
    font-weight: 2rem;
}

/* NAVBAR */
.nav-bg {
    background: rgba(239, 239, 239, 0.4)
}

.navbar-light .navbar-nav .nav-link {
    font-size: 0.8em;
    color: rgba(48, 48, 48, .8);
}

.active {
    border-bottom: 1px solid #ff3b3f; 
}

/* HERO */
.hero-section {
    background: linear-gradient(#caebf2, transparent 80%), linear-gradient(0deg, #efefef, transparent 2%), url(../img/new_hero_compr.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh;
    width: 100%;
    background-size: cover;
}

.inside-jumbo h1 {
    margin-top: 20px;
    font-size: 8.4vw;
    font-weight: 1000;
    color: rgb(27, 27, 27);
    text-shadow: 1.3px 1.3px #efefef;
}

.inside-jumbo p {
    color: #efefef;
    font-size: 1.8vw;
    font-weight: 1.2rem;
    text-shadow: 0.5px 0.5px #303030;
}

.btn {
    background-color: #ff3b3f;
    border: 0.1em solid #ff3b3f;
    color: #efefef;
}

/* MAIN CONTENT */
.main-content {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

.main-content h2 {
    font-weight: 1000;
    font-size: 2.7em;
}

.section {
    padding: 30px 0px 30px 0;
}

.section-header a {
    text-decoration: none;
}

.about-text {
    margin: auto;
    padding: 1.25rem;
}

/* .parallax {
    background-position: center center;
    background: cover;
    background-attachment: fixed!important;
    overflow: hidden;
} */

/* SKILL ICON LIST */ 
.skills {
    list-style-type: none;
    font-size: 1.2em;
    margin: auto;
    padding: 0px;
}

.skill-item {
    display: inline;
}

.skill-item img {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
   
.skill-item img:hover {
    opacity: 0.9;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    transform: scale(1.5);
}

/* BLOG CONTENT */
.post-list-item {
    padding: 1.25rem;
}

.post-content {
    padding: 1.25rem;
}

.post-image {
    width: 250px;
    height: 125;
}

/* CARDS */
.card {
    padding: 1.25rem;
    margin: auto;
    width: 100%;
    margin-bottom: 1.25rem;
}

.card-title {
    font-size: 2em;
}

/* SOCIAL LINKS */
.social {
    margin: auto;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.social li {
    display: inline;
}

.social li img {
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
}

.social li img:hover {
    transform: scale(1.3);
}

/* MEDIA SCREENS */
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 12px;
    }

    .nav-bg {
        background-color: rgba(239, 239, 239, 0.8);
    }

    .inside-jumbo h1 {
        font-size: 60px;
        margin-top: 50px;
    }

    .inside-jumbo p {
        font-size: 1.4em;
    }

    .hero-section {
        background: cover;
    }
}