body {
    font-family: 'Montserrat', 'Raleway', 'Anton', sans-serif;
    font-size: 1em;
    color: rgb(51, 51, 51);
    font-weight: 300;
    line-height: 1.7;
    overflow-x: hidden;
    background-color: #eee;
}

body p {
    font-family: 'Raleway', 'Anton', 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.7;
}

body a {
    color: #333;
    line-height: 1.4;
    font-weight: 800;
}

h1,h2,h3,h4,h5,h6 {
    color: #333;
    line-height: 1.4;
}

.nav-bg {
    background: rgba(240, 240, 240, 0.8);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.6);
}

.hero-section {
    background-image: url(../img/new_hero_compr.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.inside-jumbo {
    margin-top: 125px;
}

.inside-jumbo h1 {
    font-size: 8vw;
    font-weight: 1000;
    color: #eee;
    text-shadow: 1px 1px black;
}

.inside-jumbo p {
    font-size: 1.2em;
    font-weight: 300;
    color: #eee;
    text-shadow: 0.5px 0.5px black;
}

.cta {
    margin-bottom: 50px;
}

.main-content {
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.main-content h2 {
    font-weight: 1000;
    font-size: 2.4em;
}

.section {
    padding: 30px 0px 30px 0;
}

.section-header a {
    text-decoration: none;
}

.parallax {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed!important;
    overflow: hidden;
}

.skills {
    list-style-type: none;
    font-size: 1.2em;
    margin: auto;
    padding: 0px;
}

.skill-item {
    display: inline;
}

.post-list-item {
    padding-bottom: 25px;
}

.post-content {
    padding-top: 10px;
}

.post-image {
    width: 300px;
    height: 150px;
}

.card {
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
}

.card-title {
    font-size: 2em;
}

.skill-item img {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
   
.skill-item img:hover {
    opacity: 0.9;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    transform: scale(1.5);
}

.about-text {
    margin: auto;
    padding: 15px;
}

.social {
    margin: auto;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.social li {
    display: inline;
}

.social li img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.social li img:hover {
    transform: scale(1.3);
}