{% extends 'project/project_base.html' %}
{% load static %}
{% block seo_desc %}{{ project.seo_desc }}{% endblock %}
{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    <div class="container">
            <h1 class="display-5">{{ project.title }}</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card project-card">
                    {% if project.image %}
                        <img class="card-img-top" src="{{ project.image.url }}" class="img-fluid" alt="IMAGE NOT FOUND">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description|safe }}</p>
                        {% if project.tech %}
                            <p class="card-text text-muted"><b>Teknologier:</b> {% for tech in project.tech.all %}<span class="code-box">{{ tech }}</span>{% endfor %}</p>
                        {% endif %}
                        {% if project.website %}
                            <a href="{{ project.website }}" target="_blank"><button class="btn btn-outline-dark">Website</button></a>
                        {% endif %}
                        {% if project.github %}
                            <a href="{{ project.github }}" target="_blank"><button class="btn btn-outline-dark">GitHub</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}