<footer>
    <div class="container-fluid footer">
        <div class="row">
            <div class="col">
                <ul class="social">
                    <li><a href="https://github.com/MarkP92" target="_blank"><i class="fa fa-fw fa-2x fa-github"></i></a></li>
                    <li><a href="https://www.facebook.com/Mr.Quid" target="_blank"><i class="fa fa-fw fa-2x fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/MarkP_DK" target="_blank"><i class="fa fa-fw fa-2x fa-twitter"></i></a></li>
                    <li><a href="https://stackoverflow.com/users/9548281/markpetersen" target="_blank"><i class="fa fa-fw fa-2x fa-stack-overflow"></i></a></li>
                    <li><a href="mailto:petersenmark92@gmail.com"><i class="fa fa-fw fa-2x fa-envelope"></i></a></li>
                </ul>
                <h6 id="copy">2018 <i class="fa fa-copyright"></i> Mark Petersen</h6>
            </div>
        </div>
    </div>
</footer>