{% extends 'blog/blog_base.html' %}
{% block title %}Blog{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-5">BLOG</h1>
    {% for post in post_list %}
        <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="card blog-card">
                        {% if post.image %}
                            <img class="card-img-top" src="{{ post.image.url }}" alt="Blog Featured Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h5>
                            <p class="card-text">{{ post.author }}<br>
                            {{ post.created_at }}</p>
                            <p>{{ post.text|safe|truncatewords:10 }}</p>
                            <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-outline-dark">Læs mere</a>
                        </div>
                    </div>
                </div>
            <div class="col-md-2"></div>
        </div>
    {% endfor %}
    <br />
</div>
{% endblock %}