{% extends 'blog/blog_base.html' %}

{% block content %}
    {% for post in post_list %}
        <div class="card blog-card">
            {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="IMAGE NOT FOUND">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h5>
                <p class="card-text">{{ post.author }}<br>{{ post.created_at }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}