{% extends 'base.html' %}
{% load static %}
<!-- HERO -->
{% block hero %}
    <div class="jumbotron jumbotron-fluid hero-section">
        <div class="container">
            <div class="inside-jumbo">
                <h1 class="display-3">Mark<br>Petersen</h1>
                <div class="shuffle-words">
                    <p class="lead">
                        <span>Koncept</span>
                        <span>Design</span>
                        <span>Udvikling</span>
                        <span>SEO</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- MAIN CONTENT -->
{% block content %}
    <!-- ABOUT SECTION -->
    <section class="section" id="about-section">
        <div class="container">
            <div class="row" id="about-text">
                <div class="col-md-8 col-sm-12">
                    <h2 class="section-header">MARK PETERSEN</h2>
                    <p class="lead">
                        Hej, verden! Velkommen til mit online portfolio.<br />
                        Mit navn er Mark, jeg er 25 år og selvlært Webudvikler.<br />
                        Jeg brænder for at kode og designe flotte hjemmesider.<br />
                    </p>
                    <a href="{% url 'about' %}" class="btn btn-outline-light">Læs mere</a>
                    <ul class="skills">
                        <li class="skill-item"><img src="{% static 'img/html_icon.svg' %}" alt="HTML5"/></li>
                        <li class="skill-item"><img src="{% static 'img/css_icon.svg' %}" alt="CSS3"/></li>
                        <li class="skill-item"><img src="{% static 'img/js_icon.svg' %}" alt="JavaScript"/></li>
                        <li class="skill-item"><img src="{% static 'img/bootstrap_icon.svg' %}" alt="Bootstrap 4"/></li>
                        <li class="skill-item"><img src="{% static 'img/jquery_icon.svg' %}" alt="jQuery"/></li>
                        <li class="skill-item"><img src="{% static 'img/python_icon.svg' %}" alt="Python"/></li>
                        <li class="skill-item"><img src="{% static 'img/django_icon.svg' %}" alt="Django"/></li>
                        <li class="skill-item"><img src="{% static 'img/heroku_icon.svg' %}" alt="Heroku"/></li>
                        <li class="skill-item"><img src="{% static 'img/git_icon.svg' %}" alt="Git"/></li>
                        <li class="skill-item"><img src="{% static 'img/wp_icon.svg' %}" alt="WordPress"/></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="{% static 'img/mark.jpg' %}" class="img-fluid" alt="Mark Petersen" id="about-img">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </section>
    <!-- PROJECT SECTION -->
    <section class="section" id="project-section">
        <div class="container">
            <h2 class="section-header">NYE PROJEKTER</h2>
            <div class="row">
                <div class="card-deck">
                    {% for project in project_list %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'project_detail' slug=project.slug %}">{{ project.title }}</a></h5>
                                    <p class="card-text">{{ project.description|safe|truncatewords:10 }}</p>
                                    {% if project.tech %}
                                        <p class="card-text text-muted"><b>Teknologier:</b> {{ project.tech|safe }}</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Opdateret den {{ project.created_at }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- BLOG SECTION -->
    <section class="section" id="blog-section">
        <div class="container">
            <h2 class="section-header" id="blog-head">SENESTE INDLÆG</h2>
            <div class="row">
                <div class="card-deck">
                    {% for post in post_list %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                {% if post.image %}
                                    <img class="card-img-top" src="{{ post.image.url }}" alt="Blog Featured Image">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h5>
                                    <p class="text-muted">{{ post.created_at }}</p>
                                    <p class="card-text">{{ post.text|safe|truncatewords:10 }}</p>
                                    <a href="{% url 'post_detail' slug=post.slug %}" class="btn btn-outline-light">Læs mere</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!-- END CONTENT -->


    
