{% extends 'base.html' %}
{% load static %}
<!-- HERO -->
{% block hero %}
    <div class="jumbotron jumbotron-fluid parallax hero-section">
        <div class="container">
            <div class="inside-jumbo">
                <h1 class="display-3">Mark<br>Petersen</h1>
                <p class="lead">Hej, verden! Velkommen til mit online portfolio.<br>Mit navn er Mark, jeg er 25 år og selvlært Webudvikler.<br>Jeg brænder for at kode og designe flotte hjemmesider.</p>
                <p><a class="btn btn-primary btn-lg cta" href="{% url 'project_list' %}" role="button">Projekter &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}
<!-- MAIN CONTENT -->
{% block content %}
    <!-- ABOUT SECTION -->
    <section class="about-section section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="section-header"><a href="{% url 'about' %}">Om Mark</a></h2>
                    <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolores quod sint perferendis vero! Ipsam repellat perferendis quis numquam nesciunt cum, iure ut inventore officia suscipit, unde odit eum, fugiat nemo maxime est eaque enim ullam voluptatibus! Commodi similique incidunt perspiciatis accusantium ipsum ullam provident, repellendus voluptates quis, modi adipisci?</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="skills">
                        <li class="skill-item"><img src="{% static 'img/html_icon.png' %}" alt="HTML5"/></li>
                        <li class="skill-item"><img src="{% static 'img/css_icon.png' %}" alt="CSS3"/></li>
                        <li class="skill-item"><img src="{% static 'img/js_icon.png' %}" alt="JavaScript"/></li>
                        <li class="skill-item"><img src="{% static 'img/bootstrap_icon.png' %}" alt="Bootstrap 4"/></li>
                        <li class="skill-item"><img src="{% static 'img/jquery_icon.png' %}" alt="jQuery"/></li>
                        <li class="skill-item"><img src="{% static 'img/python_icon.png' %}" alt="Python"/></li>
                        <li class="skill-item"><img src="{% static 'img/django_icon.svg' %}" alt="Django"/></li>
                        <li class="skill-item"><img src="{% static 'img/git_icon.png' %}" alt="Git"/></li>
                        <li class="skill-item"><img src="{% static 'img/wp_icon.png' %}" alt="WordPress"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- PROJECT SECTION -->
    <section class="projects-section section">
        <div class="container">
            <h2 class="section-header"><a href="{% url 'project_list' %}">Projekter</a></h2>
            <div class="row">
                <div class="col">
                    {% for project in project_list %}
                        <div class="card">
                            <img class="card-img-top" src="{{ project.image.url }}" alt="Project Featured Image">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'project_detail' slug=project.slug %}">{{ project.title }}</a></h5>
                                <p class="card-text">{{ project.description|safe }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- BLOG SECTION -->
    <section class="blog-section section">
        <div class="container">
            <h2 class="section-header"><a href="{% url 'post_list' %}">Blog</a></h2>
            <div class="row">
                <div class="col">
                {% for post in post_list %}
                    <div class="card">
                        {% if post.image %}
                            <img class="card-img-top" src="{{ post.image.url }}" alt="Blog Featured Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h5>
                            <p class="card-text">{{ post.author }}<br>
                            {{ post.created_at }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!-- END CONTENT -->


    
