{% extends 'about/about_base.html' %}
{% load static %}
{% block seo_desc %}Jeg har en stor passion for at designe og uvikle moderne hjemmesider, der fungerer på alle skærmstørrelser.{% endblock %} 
{% block title %}Om mig{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron" id="about-jumbo"></div>
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                    <h1 class="display-5">Mark Petersen</h1>
                <p>
                    Mit navn er Mark, jeg er 25 år og bosat i Odense.<br />
                    Jeg har en stor passion for programmering af hjemmesider, programmer, scripts og bots.<br />
                    Jeg benytter mig oftest af Python & Django til hjemmesider og C# til Windows applikationer.<br /><br />
                    Jeg bruger meget af min fritid på hjemmesider som <a href="https://www.bodegaenodense.dk" rel="noopener" target="_blank">Bodegaen</a> og <a href="https://qstay.dk" rel="noopener" target="_blank">Qstay B&B</a> - men også Windows applikationer som CRM, spil og andet.<br />
                    Indenfor webudvikling, er det uden tvivl 'backenden', der fanger mig mest (hvilket mit portfolio design nok indikerer lidt).<br />
                    Skal din virksomhed kunne findes på det digitale marked, er SEO og SEM også en essentiel del af processen - og der står jeg heldigvis klar til at hjælpe også.      
                </p>
                <div class="skill-list">
                    <h5 class="mb-1"><strong>Frontend</strong></h5>
                    <ul class="skills">
                        <li><span class="code-box">HTML</span></li>
                        <li><span class="code-box">CSS</span></li>
                        <li><span class="code-box">JavaScript</span></li>
                        <li><span class="code-box">jQuery</span></li>
                        <li><span class="code-box">Bootstrap</span></li>
                    </ul>    
                    <h5 class="mb-1"><strong>Backend</strong></h5>
                    <ul class="skills">
                        <li><span class="code-box">Python</span></li>
                        <li><span class="code-box">Django</span></li>
                        <li><span class="code-box">PostgresQL</span></li>
                        <li><span class="code-box">C#</span></li>
                        <li><span class="code-box">MySQL</span></li>
                        <li><span class="code-box">.NET</span></li>
                    </ul>
                    <h5 class="mb-1"><strong>Hosting & CMS</strong></h5>
                    <ul class="skills">
                        <li><span class="code-box">Heroku</span></li>
                        <li><span class="code-box">WordPress</span></li>
                        <li><span class="code-box">Digital Ocean</span></li>
                    </ul>
                </div>
                <ul class="skills">
                    <li class="skill-item"><img src="{% static 'img/html_icon.png' %}" alt="HTML5"/></li>
                    <li class="skill-item"><img src="{% static 'img/css_icon.png' %}" alt="CSS3"/></li>
                    <li class="skill-item"><img src="{% static 'img/js_icon.png' %}" alt="JavaScript"/></li>
                    <li class="skill-item"><img src="{% static 'img/bootstrap_icon.png' %}" alt="Bootstrap 4"/></li>
                    <li class="skill-item"><img src="{% static 'img/jquery_icon.png' %}" alt="jQuery"/></li>
                    <li class="skill-item"><img src="{% static 'img/python_icon.png' %}" alt="Python"/></li>
                    <li class="skill-item"><img src="{% static 'img/django_icon.svg' %}" alt="Django"/></li>
                    <li class="skill-item"><img src="{% static 'img/heroku_icon.png' %}" alt="Heroku"/></li>
                    <li class="skill-item"><img src="{% static 'img/git_icon.png' %}" alt="Git"/></li>
                    <li class="skill-item"><img src="{% static 'img/wp_icon.png' %}" alt="WordPress"/></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12 justify-content-center align-items-center">
                <img src="{% static 'img/mark.jpg' %}" class="img-fluid p-2" alt="Mark Petersen" id="about-img">
            </div>
        </div>
    </div>  
{% endblock %}