{% extends 'about/about_base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h2>Mark Petersen</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae libero velit accusamus possimus ratione illum labore ex laboriosam, ab aspernatur distinctio reprehenderit eaque at officia, voluptate accusantium? Assumenda non, eaque, necessitatibus officiis eligendi modi laboriosam incidunt atque dolor esse rerum quis sapiente provident quia laudantium ipsam suscipit? Provident libero expedita, repellat asperiores, et eveniet sunt nihil maiores architecto facere dolorum doloremque modi, ratione soluta quia dicta! Delectus aliquam unde, porro ipsam veniam cumque quas architecto quidem. Error possimus mollitia odio quam necessitatibus quisquam molestiae porro a? Enim quos adipisci ullam id, laborum provident magni odio et numquam maxime soluta ab.</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <!-- <img src="{% static 'img/about_image.jpeg' %}" alt="IMAGE NOT FOUND"> -->
        </div>
    </div>
{% endblock %}